<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Financial Bot</title>

    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="chat-container">
        <h1>Financial Bot</h1>
        <div id="chat-box">
            <div class="message bot-message">
                Hello! I am a financial advisor chatbot.
            </div>
        </div>
        <div class="input-area">
            <input type="text" id="user-input" placeholder="Ask something about a stock. (Example: GOOG predict open; Google action)">
            <button id="send-botton">Send</button>
        </div>

    </div>

<script>
const user_input = document.getElementById("user-input")
const button = document.getElementById("send-botton")
const chat_box = document.getElementById("chat-box")

// function to add messages and class name to a new div for new chats
function addMessage(text, className){
    const message_div = document.createElement("div");
    message_div.classList.add("message", className)
    message_div.textContent = text;
    chat_box.appendChild(message_div)
    chat_box.scrollTop = chat_box.scrollHeight;
}

// asynchronous function to wait until promise is resolved
// send user's message and get the bot's response
async function sendMessage(){
    const message = user_input.value.trim();
    if (message === ""){
        return;
    }
    // add message to chat box
    addMessage(message, "user-message");
    user_input.value = "";

    // get the bot response from the return value of chat() function in app.py
    try {
        const response = await fetch("/chat", 
        {method: "POST", headers: {"Content-Type": "application/json"}, body: JSON.stringify({message: message})});
        const data = await response.json();
        addMessage(data.response, "bot-message");
    } catch (error) {
        addMessage("A server error occurred.", "bot-message");
        console.error(error);
        //console.log(error);
    }
}
button.addEventListener("click", sendMessage);
user_input.addEventListener("keydown", function(event){
    if (event.key === "Enter"){
        sendMessage();
    }
})
</script>
</body>
</html>